body {
    /* background-color: azure; */
    background: url('background.jpg'); 
    background-size: cover;
}

h1 {
    color: white;
}

h3 {
    color: midnightblue;
    font-family: "Quicksand";
}

main {
    margin-top: 6vh;
    border: 1px solid black;
    padding-left: 20%;

}

.text-center {
    text-align: center;
}