body {
    /* background-color: azure; */
    background: url('background.jpg'); 
    background-size: cover;
}

h1 {
    color: white;
    font-family: "Roboto";
}

h3 {
    color: midnightblue;
    font-family: "Quicksand";
    font-weight: bold;  
}

h4 {
    color: white;
    
}

main {
    margin-top: 6vh;
    margin-bottom: 3vh;
    margin-left: 10vw;
    margin-right: 10vw;
    border: 3px solid black;
    padding-left: 2%;
    padding-right:2%;

}

.text-center {
    text-align: center;
}