body {
    /* background-color: azure; */
    background: url('background.jpg'); 
    background-size: cover;
}

h1 {
    color: white;
}

h3 {
    color: midnightblue;
    text-indent: 25%;
    font-family: "Quicksand";
}

main {
    margin-top: 6vh;

}

.text-center {
    text-align: center;
}